{% extends "base.html" %}

{% block styles %}
<style type="text/css">
    body, html
    {
        margin: 0; padding: 0; height: 100%; overflow: hidden;
    }

    #content
    {
        position:absolute; left: 0; right: 0; bottom: 0; top: 52px;
    }
</style>
{% endblock %}

{% block content %}
        <div id="content">
        </div>

        <script type="text/javascript">
            var iframe_source = "https://browninstitute.github.io/gendermeme-showcase-2017/" + window.location.hash;
            $('<iframe>', {
               src: iframe_source,
               id:  'the-iframe',
               frameborder: 0,
               width: '100%',
               height: '100%',
               }).appendTo('#content');
        </script>
{% endblock %}
