<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>GenderMeme</title>
    <meta name="description" content="GenderMeme">
    <meta name="author" content="Viswajith Venugopal">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <h2> Welcome to GenderMeme! </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <form action="" method="POST" name="cruncher" id="cruncher">
                {% csrf_token %}
                <label for="Text to analyze">Enter your text to analyze here:</label>
                <textarea name="articletext" class="form-control" rows="15">{{ article_text }}</textarea>
                <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                {% if article_info %} <h4> Here are the people mentioned, and the number of words they say: </h4> {% endif %}
                <div class="row"> {{ mentions }} </div>
                <div class="row"> {{ num_quotes }} </div>
            </div>
        </div>
    <div>
</body>
</html>

